<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/main.css")
        title FoodHub
    body
        header
            nav
                ul
                    li
                        a(href="/") Home
                    li
                        a(href="add-product") Add Food
        
        main
            h1 Available Foods..